body{
    background-image: url(/images/bg.png);
    background-size: cover;
}
header{
    height: 90px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    background-image: url(/images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
header .btn{
    width: 63px;
    background-color: #8859EC;
}
nav{
    height: 90px;
    color: #fff;
}
.nav-item{
    transition: 0.3s;
    border-radius: 5px;
}
.offcanvas-body .nav-item{
    padding-inline: 20px;
}
.nav-item:hover{
    background-color: #8859EC;
}
.navbar-toggler-icon{
    color: white;
}
.btn-close{
    margin-left: 50%;
    margin-top: 50px;
    

}
.offcanvas-body{
    color: #8859EC;
    margin-left: 50%;
}

.home{
    margin-top: 90px;
}
.home h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
    font-family: 'lora';
}
h1{
    color: white;
}
h1 span{
    background: -webkit-linear-gradient(#2C66B8,#8859EC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
    color: #CFCFCF;
    font-weight: 400;
    line-height: 32px;
}
.home .btn{
    background-color:  #8859Ec;
    width: 120px;
}
/* srart about-us*/

.about-us h3{
    color: #8859EC;
    font-size: 20px;
    line-height: 25.2px;
}
.about-us h2{
    font-size: 40px;
    font-family: 'lora';
    line-height: 51px;
}
.about-us p{
    color: #CFCFCF;
    font-size: 15px;
    line-height: 32px;
}
.about-us .btn{
    background-image: linear-gradient( to bottom right,#2C66B8, #8859EC);
    width: 135px;
    height: 53px;
    font-size: 15px;
}
.bg-about{
    right: 0;
    z-index: -1;
    top: 0;
}
.content{
    padding-top: 150px;
}
.stat{
    width: 100px;
}
.stat h3{
    font: 45px 'outfit' ;
}